<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CreDebt</title>
    <link rel="stylesheet" href="stylesHome.css">
  </head>
  <body>
    <header class="header">
      <a href="/">Home</a>
      <a href="/New">Add new Contact</a>
      <a href="/Exist">Existing Contacts</a>
    </header>
    <div class="container">
      <div class="header-h1">
        <h1 class="home-h1">Welcome to your CreDebt. CreDebt consists of your list of contacts from who you need to either receive or send money</h1>
      </div>
    </div>
    <div class="tableType">
      <div class="flex Oone">
        <img src="pb.jpg" alt="clock">
        <div class="desc">
          <p class="desc">It helps you to keep records of the transactions on your fingertips.</p>
        </div>

      </div>
      <div class="flex Ttwo">
        <img src="add_del.jfif" alt="remas">
        <div class="desc">
          <p>The record can be easily added or deleted whenever required.</p>
        </div>
      </div>
      <div class="flex Tthree">
        <img src="easy.png" alt="easy">
        <div class="desc">
          <p class="desc">Very easy to use and attractive UI</p>
        </div>
      </div>

      <div class="flex Ffour">
        <img src="sms.jpg" alt="sms">
        <div class="desc">
          <p>SMS service available for remindering.</p>
        </div>
      </div>

    </div>

    <footer>Made by: Parth Naghera, DAIICT</footer>


  </body>
</html>
<!-- //home page -->
